.media-lib-image {
  width: 250px;
}

.usersWrap td {
  padding: 5px;
  padding-left: 10px;
}

.usersWrap .activeUser td {
  color: red;
}

.usersPrivilege td,
.usersPrivilege th {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 4px;
}

