$color:red;

//########### frontpage Menu #############
/* Move to
_menuFront.sccs
Atom build in plugin cant handle this
*/


ul.menuFront{
  font-weight:bold;
  margin-right:150px;

li{
  position: relative;
}

li+li{
  margin-left:10px !important;
}

.dropdown{

  ul{
    width:50px;
    display:none;
    left: -34px;
    margin-left: 0px;
    position: absolute;
    top: 18px;
    li{
      list-style-type: block;
      position:relative;
    }

  }
}

.dropdown:hover{
  ul{
    display:block;
  }
}

  li{
    display:inline;
  }

  a{
    text-decoration: none;
    color:black;
  }
}


// ######## Users Panel #####
.usersWrap{

  td{
    padding:5px;
    padding-left:10px;
  }
}

// ######## GLOBAL ##########
.content{
  width:70%;
}


.post{
  border:1px solid rgba(0,0,0,0.1);
  border-radius:10px;

  margin-top:15px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}

.media-lib-image{
  width:250px;
}
