.usersWrap{

  td{
    padding:5px;
    padding-left:10px;
  }

  .activeUser{
    td{
      color:red;
    }
  }
}

.usersPrivilege{
  td,th{
    border:1px rgba(0,0,0,0.1) solid;
    padding:4px;
  }

}