.usersWrap{

  td{
    padding:5px;
    padding-left:10px;
  }

  .activeUser{
    td{
      color:red;
    }
  }
}

.usersPrivilege{
  td,th{

    padding:4px;
  }

}

// Roles select panels
.usersRoles{

  .removeButton{
    width:30px;
    margin-left:0px;
    &:hover{
      opacity:0.7;
    }
  }

  th{
    color:rgba(4, 52, 162,1);
  }
}