$color:red;
*{
  color:white;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.activeUser *{
  color: $color;
}

// ######## GLOBAL ##########
.content{
  width:70%;
}

/*1*/
