// frontpage menu //

ul.menuFront{
  font-weight:bold;
  margin-right:150px;

  li{
    position: relative;

    &:hover{
      .sub_menu{
        display:block;
        position:absolute;
        right:0px;
        top:20px;

        li{
          display:block;
        }
      }
    }
  }

  li+li{
    margin-left:10px !important;
  }

  .dropdown{

    ul{
      width:50px;
      display:none;
      left: -34px;
      margin-left: 0px;
      position: absolute;
      top: 13px;
      li{
        list-style-type: block;
        position:relative;
        display: block;
      }
      li+li{
        margin:0px !important;
      }
    }
  }

  .dropdown:hover{
    ul{
      display:block;
    }
  }

  .dropdown-menu{
    li{
      a{
        white-space:normal;
        word-wrap: break-word;
      }
    }
  }

  li{
    display:inline;
  }

  a{
    text-decoration: none;
    color:white;
  }

  .sub_menu{
    display:none;
  }
}
