// Mine
.post{
/*
  border:1px solid rgba(255,255,255,0.1);
  border-radius:10px;

  margin-top:15px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.1);
  */
}

// External

.posts{
  
}

section.singlePost *{
  -ms-word-break: break-word;
  word-break: break-word;
}

// Posts displayed on front page
.cards__item{
  p{
    word-break: break-all;
  }

  .card{
    width: 100%;
  }
}

/*single post page*/
.postHolder{
  margin-top:50px;
  .breadcrumbs{
    display: flex;
    *+*{
      margin-left:10px;
    }
  }
}
